# Web Scraping
google-play-scraper
beautifulsoup4
requests

# Data Handling
pandas
numpy

# NLP & Sentiment Analysis
textblob
nltk
spacy
scikit-learn
transformers
torch
google-play-scraper

# Visualization
matplotlib
seaborn
wordcloud

# Oracle Database Connectivity
# cx_Oracle # this one is the older version 
Oracledb #  this one is the newer version

# Utility
tqdm
# jupyter
python-dotenv

